*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia,;
    background-color: black;
    color: white;
    line-height: 1.7;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: black;
}
h4{
    font-size: 25px;
    font-weight: bold;
}
nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin-right: 30px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 19px;
}

nav ul li a:hover{
    text-decoration:underline;
}
.intro{
    padding: 50px;
    text-align: left;
}
.intro h1{
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.boxe{
    display: flex;
    justify-content: center;
    padding: 30px 50px;
    width: 100%;
    justify-content: space-between;
    margin: 2px;
}
.boxe-BOX{
    padding: 20px;
    margin: 0 10px;
    flex: 1;
    border-radius: 5px;
}

.blue-box{
    background-color: #1574cd;
    width: 32%;
    padding: 10px;
}
.GRAY-BOX{
    background-color: rgb(242, 9, 172);
    color: white;
    width: 32%;
    padding: 10px;
}
.Boxe-box h3{
    margin-bottom: 15px;
    font-size: 17px;
    width: 32%;
}
.BOXE-BOX p {
    font-size: 15px;
}
.description{
    text-align: center;
    padding: 20px 50px;
}

.description p {
    max-width: 800px;
    margin: 20px auto;
    font-size: 18px;
}
.call-button{
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid blue;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s; 
}

.call-button:hover{
    background-color: blueviolet;
    color: aqua;
}